<link rel="stylesheet" href="~/css/_Footer.css">
<footer class="footer" id="footer">
    <div class="footer-left">
        <div class="katalog">
            <h3>Keşfet</h3>
            <ul id="wrapper">
                <li><a href="#" class="button" id="Magaza">Mağazalarımız</a></li>
                <li><a href="#" class="button" id="Katalog">Kataloglarımız</a></li>
                <li><a asp-controller="Detaylar" asp-action="Odalar" class="button" id="Duzenle">Odanıza Göre Seçimler</a></li>
            </ul>

        </div>

    </div>
    <div class="footer-center">
        <form action="#" method="post">
            <div class="form-grp">
                <h3>Geri Bildirim Gönderin</h3>
                <label for="email" id="email">Mail Adresiniz:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-grp">
                <label for="message">Mesajınız:</label>
                <textarea name="message" id="message"  required></textarea>
            </div>
            <button type="submit" class="btn">Gönder</button>
        </form>
    </div>
    <div class="footer-right">
        <ul class="social-media">
            <div class="contact">
                <h3>İletişim</h1>
                 <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                <ul>
                <li><a id="linkedin" href="https://www.linkedin.com/in/furkanmeydan">/furkanmeydan</a></li>
                <li><a id="instagram"  href="https://www.instagram.com/">/instagram</a></li>
                <li><a id="github" href="https://github.com/FURKANMEYDAN">/github/FURKANMEYDAN</a></li>
                 </ul>
               
               
            </div>
        </ul>
    </div>
</footer>