@model Feedback
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Üyelik oluşturma</title>
    <link rel="stylesheet" href="~/css/_Feedback.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    

<form asp-action="SubmitFeedback" method="post">
    <div class="form-grp">
        <h3>Geri Bildirim Gönderin</h3>
        <label asp-for="Email" id="email">Mail Adresiniz:</label>
        <input asp-for="Email" id="email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-grp">
        <label asp-for="Message">Mesajınız:</label>
        <textarea asp-for="Message" id="message"></textarea>
        <span asp-validation-for="Message"></span>
    </div>
    <button type="submit" class="btn">Gönder</button>
</form>
</body>