<div class="ramona-resim">

<img src="//lazzoni.com/cdn/shop/articles/New_Project_-_2023-04-28T124436.124_2_165495bb-90e6-4767-94cb-fba97f889b7b_720x.jpg?v=1683546808" alt="">
<p>ocated in the historic neighborhood of Besiktas, Istanbul this residence project was designed with the beauty and serenity of Bosphorus in mind. Placed in Europe, overlooking Asia, the project was the perfect medium to enliven the Japandi style. Natural materials and simple lines create serene minimalism through all spaces, bringing the best from two different sides of the world- Scandinavia and Japan, just like Bosphorus does with Anatolia and Thrace. 

Being one of the oldest neighborhoods of İstanbul, Beşiktaş has a grand historical background holding imprints from Sephardi to Armenian to Turks, making the area the perfect location for art and culture. 

Bosphorus House was designed with custom-made articles that were exclusively built for the project from the kitchen to the bathroom to the bedroom with inspirations from the past and present.

Minimalism and functionality come together in natural wood, simple tones, and soft hues, creating minimal yet well-curated spaces in Japandi style. Floor-to-ceiling windows of the residence offer mesmerizing panoramas from the Asian shore of Istanbul while being situated on the European side, beholding the Bosphorus from atop.  

The apartment was featured on Dwell+ as an exclusive interview and also have been Shortlisted for Living Space – Global Award in The International Design and Architecture Awards 2022.. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab cum veritatis libero hic earum rerum ullam id tenetur ut delectus, praesentium repellendus similique? Vitae magni debitis excepturi itaque beatae. Rerum.</div>