@model List<Odalar>
    <link rel="stylesheet" href="~/css/_Bosporus.css">
<div class="bosporus-resim">

<img src="//lazzoni.com/cdn/shop/articles/New_Project_-_2023-04-28T124436.124_2_165495bb-90e6-4767-94cb-fba97f889b7b_720x.jpg?v=1683546808" alt="">
<h1>Bosphorus Apartment,Istanbul</h1>
<p>İstanbul'un tarihi Beşiktaş semtinde yer alan bu rezidans projesi, Boğaz'ın güzelliği ve huzuru düşünülerek tasarlandı. Avrupa'da yer alan ve Asya'ya bakan proje, Japandi tarzını canlandırmak için mükemmel bir ortamdı. Doğal malzemeler ve sade çizgiler, tüm mekanlarda dingin bir minimalizm yaratarak, tıpkı Boğaz'ın Anadolu ve Trakya'da yaptığı gibi, dünyanın iki farklı yakasının (İskandinavya ve Japonya) en iyilerini bir araya getiriyor.

İstanbul'un en eski semtlerinden biri olan Beşiktaş, Sefarad'dan Ermeni'ye, Türk'ten Türklere kadar uzanan geniş bir tarihi geçmişe sahip olup, bölgeyi sanat ve kültür için mükemmel bir mekan haline getiriyor.

Bosphorus House, mutfağından banyosuna, yatak odasına kadar projeye özel olarak inşa edilen özel yapım eşyalarla geçmişten günümüze ilham alınarak tasarlandı.

Minimalizm ve işlevsellik, doğal ahşap, sade tonlar ve yumuşak tonlarda bir araya gelerek Japandi tarzında minimal ama iyi tasarlanmış alanlar yaratıyor. Rezidansın tavandan tabana pencereleri, İstanbul'un Asya yakasından büyüleyici manzaralar sunarken, Avrupa yakasında yer almakta ve Boğaz'ı tepeden görmektedir.

Daire, Dwell+'da özel bir röportaj olarak yer aldı ve aynı zamanda Uluslararası Tasarım ve Mimarlık Ödülleri 2022'de Yaşam Alanı - Küresel Ödül için Kısa Listeye alındı</p></div>

<div class="row">
    @foreach (var i in Model)
    {
        <div class="col-md-4">
            <img src="@i.Image">
        </div>
    }
</div>