<div class="ramona-resim">

<img src="//lazzoni.com/cdn/shop/articles/11_720x.jpg?v=1698675257" alt="">
<p>This mid-century modern Corona del Mar landmark was created by local icon Chris Gallo and recognized OC architect Christopher Brandon. The most appealing aspect of the mansion is that it is not open to public and will serve as a lavish, private hideaway.

The open-plan living area's Great Room is styled by Lazzoni that makes the perfect match with its contemporary articles. A custom Mony corner sofa takes the spotlight as the centerpiece with the latest double-sided modules which can be used from both sides of the room accompanied by Arte armchair in its iconic ginger color.

Mony sofa makes another appearance in the Pool Room along with timeless Ada armchair and Duo ottoman. The neutral colors of the sitting units blends in with the design of room while keeping the area functional without being overwhelming. </p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iusto fugit excepturi velit voluptas cumque, ipsum, iure quod tempora amet facilis ullam vel tempore. 
Atque qui omnis saepe quae eum.</div>