@model List<Odalar>
<link rel="stylesheet" href="~/css/_Ramona.css">
<div class="ramona-resim">

    <img src="//lazzoni.com/cdn/shop/articles/11_3024x.jpg?v=1698675257 " alt="">
    <h1>Ramona Drive Manson,California</h1>
    
        <p>Yüzyıl ortasından kalma bu modern Corona del Mar simgesi, yerel ikon Chris Gallo ve tanınmış OC mimarı
            Christopher Brandon tarafından yaratıldı.
            Konağın en çekici yönü halka açık olmaması ve lüks, özel bir saklanma yeri olarak hizmet verecek olmasıdır.
        

        Açık plan yaşam alanının Büyük Odası, çağdaş eşyalarla mükemmel uyum sağlayan Lazzoni tasarımıdır.
        Özel yapım Mony köşe kanepe, odanın her iki tarafından da kullanılabilen en yeni çift taraflı modülleri ve
            ikonik zencefil rengindeki Arte koltuğuyla dikkatleri üzerine çekiyor.

        Mony kanepe, zamansız Ada koltuk ve Duo pufla birlikte Bilardo Odası'nda başka bir görünüme kavuşuyor. Oturma
            ünitelerinin nötr renkleri odanın tasarımına uyum sağlarken, alanı bunalmadan işlevsel kılıyor.
        </p>

</div>
<div class="row">

    @foreach (var i in Model)
    {
        <div class="col-md-4">
            <img src="@i.Image">
        </div>
    }
</div>
