@model List<Odalar>
   <link rel="stylesheet" href="~/css/_Wander.css">
<div class="wander-resim">

<img src="//lazzoni.com/cdn/shop/articles/fullres_3024x.jpg?v=1696416542" alt="">
<h1>Wander Yosemite Falls,California</h1>
<p>Sakin bir tatil için kusursuz bir ortam sunan bu gösterişli Kaliforniya sığınağının büyüleyici cazibesinin keyfini çıkarın. Görkemli Yosemite Şelaleleri'nin yanında yer alan bu rezidans, tamamı 5 dönümlük geniş bir arazi içinde yer alan geniş nehir kıyısı alanlarını, gözlerden uzak bir şelaleyi ve pitoresk bir adacığı kapsayan çevredeki doğal peyzajın nefes kesen panoramik manzaralarına sahiptir.

Özel bir arka bahçe, açık havada yemek alanı, barbekü ızgarası, davetkar ateş çukuru, son teknoloji iş istasyonları ve hatta hizmetinizde olan bir Tesla aracı dahil olmak üzere bir dizi üst düzey olanakla kendinizi lüksün özüne kaptırın.

Lüks gayrimenkulün doğanın konforu ve huzuruyla buluştuğu Wander ile en yeni Lazzoni ortaklığı</p></div>
<div class="row">

    @foreach (var i in Model)
    {
        <div class="col-md-4">
            <img src="@i.Image">
        </div>
    }
</div>